*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
button {
	border: none;
	outline: none;
	cursor: pointer;
}
a, a:active, a:visited {
	text-decoration: none;
}
img {
	max-width: 100%;
}
html {
	font-size: 10px;
}
body {
	font-family: "Roboto", sans-serif;
	color: $dark;
	font-weight: 300;
}

.section {
	&__title {
		font-size: 3.6rem;
		font-weight: 300;
	}
	&__subtitle {
		font-size: 16px;
		font-weight: 300;
	}
}
.input {
	border-radius: 4px;
}
@media screen and ( min-width: 320px ) {
	.title--bold {
		font-weight: 700;
	}
}

@media screen and ( max-width: 1600px ) {
	.title--bold {
		font-weight: 700;
	}
	.hero {
		background: url('../img/hero-bg1600.png') no-repeat center top -15px / cover;
	}
}
@media screen and ( max-width: 1260px ) {
	html {
		font-size: 8px;
	}
	.hero__desc {
		font-size: 16px;
		max-width: 44rem;
	}
	.hfeat {
		margin: auto;
		margin-top: -26rem;
		border: none;
	}
	.calc__input {
		width: 76px;
		height: 42px;	
	}
	.calc__wrapper {
		justify-content: center;
	}
	.footer__heading {
		margin-right: 0;
	}
	.footer__social-link {
		width: 32px;
		height: 32px;
	}
	.footer__row {
		justify-content: space-between;
	}
	.footer__links {
		margin-right: 0;
		margin-left: 0;		
	}
	.calc {
		background: url('../img/calc-bg-l.png') no-repeat bottom left;
	}
}
@media screen and ( max-width: 991px ) {
	.menu {
		display: none;
	}
	.hfeat {
		flex-wrap: wrap;
		align-items: center;
	}
	.hfeat__feature--main {
		margin-right: 0;
		text-align: center;
		width: 100%;
		margin-bottom: 4rem;
	}
	.hfeat__title--main {
		max-width: none;
	}
	.hfeat__text--main {
		max-width: none;
	}
	.hfeat__feature {
		margin: 0 8% 0 auto;
		&:last-child {
			margin: 0 auto 0 0;
		}
	}
	.calc__wrapper {
		flex-direction: column;
		align-items: center;
	}
	.calc__slogan {
		align-self: center;
		margin: 0;
		margin-bottom: 4rem;
	}
	.calc__row {
		flex-direction: column;
	}
	.calc__col {
		margin: 0;
		margin-bottom: 2rem;
	}
	.calc__caption {
		text-align: center;
		max-width: 300px;
	}
	.calc__desc {
		margin: 0;
		text-align: center;
		max-width: 300px;
	}
	.footer__links::before{
		width: 100px;
	}

}
@media screen and ( max-width: 780px ) {
	.hero {
		background: linear-gradient(180deg, #E1EBF5 78.18%, #FFFFFF 100%);
		padding-bottom: 40px;
		&__wrap {
			margin-bottom: 10rem;
		}
	}
	.hfeat {
		margin-top: 0;
	}
	.footer {
		padding-bottom: 60px;
	}
	.footer__heading {
		display: none;
	}
	.footer__links {
		margin-top: 0;
	}
	.footer__row {
		align-items: flex-start;
	}
	.footer__input {
		margin-top: -50px;
	}
}
@media screen and ( max-width: 600px ) {
	.hero__wrap{
		flex-wrap: wrap;
		.buttons {
			width: 100%;
			order: 2;
			margin-right: 0;
		}
	}
	.hero {
		padding-top: 20rem;
	}
	.hero__title {
		font-size: 50px;
		margin-bottom: 20px;
	}
	.hero__subtitle {
		font-size: 26px;
		margin-bottom: 30px;
	}
	.hero__desc {
		font-size: 18px;
		max-width: none;
		line-height: 160%;
	}
	.hero__lead {
		order: 1;
		margin-bottom: 20px;
		max-width: 300px;
	}
	.hfeat {
		padding-bottom:8rem;
		justify-content: flex-end;
		&__main-img {
			font-size: 60px;
			letter-spacing: 0;
			margin-left: 0;
		}
		&__main--accent {
			font-size: 36px;
			margin-left: 8px;
		}
		&__img-wrap {
			text-align: center;
		}
		&__title {
			text-align: center;
			line-height: 160%;
			font-size: 16px;
			margin: 0 0 15px 0;
		}
		&__text {
			text-align: center;
			max-width: 240px;
			margin: 0 auto 0 auto;
		}
		&__feature--main {
			margin: 0 auto 70px auto;
		}
		&__feature {
			margin: 0 auto 0 auto;
			&:last-child {
				margin: 0 auto 0 auto;
			}
		}
	}
	.calc {
		padding-top: 3rem;
	}
	.footer {
		padding-top: 60px;
	}
	.footer__input {
		display: none;
	}
	.footer__social-link {
		margin: 10px;
	}
	.footer__social-link--confirm {
		display: none;
	}
	.footer__row {
		flex-direction: column;
		align-items: center;
	}
	.footer__input {
		margin-top: 0;
	}
	.footer__link {
		margin-bottom: 20px;
	}
	.footer__links::before{
		display: none;
	}

}
@media screen and ( max-width: 510px ) {
	.hero {
		padding-top: 130px;
	}
	.hero__wrap {
		margin-bottom: 50px;
	}
	.hero__title {
		font-size: 36px;
	}
	.hero__subtitle {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.hero__desc {
		display: none;
	}
	.hero__lead {
		font-size: 14px;
	}
	.hero__question {
		display: block;
		text-align: center;
		max-width: 300px;
		margin: auto;
	}
	.hfeat__img-wrap {
		margin: auto;
		max-width: 80px;
		margin-bottom: 10px;
		&--last {
			max-width: 60px;
		}
		.hfeat__img {
			object-fit: contain;
		}
	}
	.calc {
		padding-top: 0;
	}
	.calc__title {
		font-size: 3rem;
	}
	.calc__button {
		font-size: 12px;
	}
}
@media screen and ( min-width: 991px ) {
	.button--primary:hover {
		box-shadow: none;
		transition: box-shadow 0.3s;
	}
	.button--outline-primary:hover {
		background-color: $primary;
		color: #fff;
		transition: color 0.3s;
		transition: background-color 0.3s;
	}
	.button--outline-light:hover {
		background-color: #fff;
		color: $primary;
		transition: color 0.3s;
		transition: background-color 0.3s;
	}

	.menu__logo:hover {
		color: $primary;
		transition: color 0.3s;
	}
	.nav__item:hover {
		color: $dark;
		transition: color 0.3s;
		&:after {
			position: absolute;
			content: '';
			bottom: -3.4rem;
			left: 0;
			background-color: $primary;
			width: 100%;
			height: 3px;
		}
	}
	.menu__phone:hover {
		color: $primary;
		transition: color 0.3s;
		.menu__phone--black {
			color: $primary;
			transition: color 0.3s;	
		}
	}
	.footer__link:hover {
		color: $primary;
		transition: color 0.3s;
	}
	.footer__social-link:hover {
		box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32);
		transition: box-shadow 0.3s;
	}
}