.calc {
	padding: 11.1rem 0 11.8rem 0;
	background: url('../img/calc-bg-l.png') no-repeat bottom left, url('../img/calc-bg-r.png') no-repeat bottom right;
}
.calc__heading {
	margin: -.8rem 6.4rem 6.3rem 3.8rem;
}
.calc__title {
	margin: auto;
	max-width: 50rem;
	text-align: center;
	margin-bottom: 2.4rem;
}
.calc__subtitle {
	max-width: 36rem;
	text-align: center;
	margin: auto;
	line-height: 150%;
}
.calc__wrapper {
	display: flex;
	margin-bottom: 7.4rem;
}
.calc__slogan {
	margin: -.7rem 13.5rem 0 0;
	align-self: flex-start;
}
.calc__caption {
	font-size: 2.4rem;
	font-weight: 300;
	max-width: 26rem;
	margin-bottom: 3rem;
	line-height: 2.88rem;
}
.calc__desc {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.4rem;
	max-width: 18rem;
}
.calc__row {
	display: flex;
	padding-top: 3.4rem;
	&:first-child {
		border-bottom: 1px solid $light-blue;
		padding-bottom: 3.5rem;
		padding-top: 0;
	}
}
.calc__col {
	display: flex;
	align-items: center;
	margin-right: 5.5rem;
	&:last-child {
		padding: 0;
		margin: 0;
	}
}
.calc__input {
	padding: 18px;
	width: 98px;
	height: 48px;
	border: 1px solid $accent-secondary;
	margin-right: 3.3rem;
	font-size: 1.8rem;
	font-weight: 700;
}
.calc__label {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.4rem;
	max-width: 20rem;
}
.calc__button {
	margin: auto;
	display: block;
	padding: 15px 26px;
}

@media screen and (max-width: 1260px) {
	.calc__input {
		width: 76px;
		height: 42px;
	}

	.calc__wrapper {
		justify-content: center;
	}
	.calc {
		background: url('../img/calc-bg-l.png') no-repeat bottom left;
	}
}
@media screen and (max-width: 991px) {
	.calc__wrapper {
		flex-direction: column;
		align-items: center;
	}

	.calc__slogan {
		align-self: center;
		margin: 0;
		margin-bottom: 4rem;
	}

	.calc__row {
		flex-direction: column;
	}

	.calc__col {
		margin: 0;
		margin-bottom: 2rem;
	}

	.calc__caption {
		text-align: center;
		max-width: 300px;
	}

	.calc__desc {
		margin: 0;
		text-align: center;
		max-width: 300px;
	}
}
@media screen and (max-width: 600px) {
	.calc {
		padding-top: 3rem;
	}
}
@media screen and (max-width: 510px) {
	.calc {
		padding-top: 0;
	}

	.calc__title {
		font-size: 3rem;
	}

	.calc__button {
		font-size: 12px;
	}
}
