.footer {
	padding: 120px 0;
}

.footer__row {
	display: flex;
}

.footer__col {
	display: flex;
	flex-direction: column;
}

.footer__heading {
	margin-right: 12.5%;
}

.footer__title {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 3.55rem;
}

.footer__subtitle {
	font-family: "MyriadPro", sans-serif;
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 145%;
	max-width: 1.6rem;
}

.footer__link {
	font-family: "MyriadPro", sans-serif;
	font-size: 1.7rem;
	font-weight: 400;
	color: $secondary;
}

.footer__input {
	position: relative;
	font-size: 1.6rem;
	padding: 16px 19px;
	width: 26.3rem;
	background: url('../img/footer-envelope.svg') no-repeat center right 15px;
	border: 1px solid $light-blue;
	margin-top: -7px;
	margin-bottom: 20px;
}

.footer__links {
	margin-right: 18.5%;
	margin-top: 66px;
	position: relative;

	&--last {
		margin-right: 13.2%;
	}

	&::before {
		content: '';
		position: absolute;
		width: 132px;
		height: 1px;
		top: -48px;
		left: 0;
		background: $light-blue;
	}
}

.footer__link {
	margin-bottom: 12px;
}

.footer__social-link {
	width: 39px;
	height: 39px;
	border: 1px solid $primary;
	border-radius: 50%;
}

.footer__social-link--fb {
	background: url('../img/footer-fb.svg') no-repeat center;
}

.footer__social-link--vk {
	background: url('../img/footer-vk.svg') no-repeat center;
}

.footer__social-link--yt {
	background: url('../img/footer-yt.svg') no-repeat center;
}

.footer__social-link--inst {
	background: url('../img/footer-insta.svg') no-repeat center;
}

.footer__social-link--share {
	background: url('../img/footer-arrow-up.svg') no-repeat center;
}

.footer__socials {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

@media screen and (max-width: 1260px) {
	.footer__heading {
		margin-right: 0;
	}

	.footer__social-link {
		width: 32px;
		height: 32px;
	}

	.footer__row {
		justify-content: space-between;
	}

	.footer__links {
		margin-right: 0;
		margin-left: 0;
	}
}

@media screen and (max-width: 991px) {
	.footer__links::before {
		width: 100px;
	}

}

@media screen and (max-width: 780px) {
	.footer {
		padding-bottom: 60px;
	}

	.footer__heading {
		display: none;
	}

	.footer__links {
		margin-top: 0;
	}

	.footer__row {
		align-items: flex-start;
	}

	.footer__input {
		margin-top: -50px;
	}
}

@media screen and (max-width: 600px) {

	.footer {
		padding-top: 60px;
	}

	.footer__input {
		display: none;
	}

	.footer__social-link {
		margin: 10px;
	}

	.footer__row {
		flex-direction: column;
		align-items: center;
	}

	.footer__input {
		margin-top: 0;
	}

	.footer__link {
		margin-bottom: 20px;
	}

	.footer__links::before {
		display: none;
	}
	.copyright {
		margin: 0 auto;
	}
}