.hfeat {
	margin-top: -26.5rem;
	&__images {
		display: flex;
		align-items: flex-end;
	}

	&__main-img {
		font-size: 34.2rem;
		margin: 0 16.75rem -0.7rem -2rem;
		font-weight: 200;
		letter-spacing: -14px;
	}

	&__main--accent {
		font-size: 11.2rem;
		color: $accent-primary;
		margin-left: 2.2rem;
	}

	&__img-wrap {
		margin: 0 0 7rem 0;
		&:last-child{
			margin-left: 19.5rem;
		}
	}

	&__img {
	}

	&__content {
		display: flex;
	}

	&__features {
		&:first-child {
			margin-right: 3rem;
		}
	}
	
	&__title {
		font-size: 2.4rem;
		font-weight: 300;
		line-height: 28.8px;
		max-width: 28rem;
		margin-bottom: 2.4rem;
	}
	
	&__text {
		max-width: 27rem;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}

	&__title--bold {
		font-weight: 700;
	}
	
	&__features--main {
		margin-right: 31rem;
	}

	&__features-wrap {
		display: flex;
	}

	&__title--main {
		font-weight: 700;
		max-width: 29rem;
	}

	&__text--main {
		max-width: 21.2rem;
	}

}